body {
    background-color: #FFF8DC;
}

.nav-bar-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; 
    background-color: #34495e;
    text-align: center; 
    border-radius: 8px;
}

.nav-bar-li{
    display:inline-block;
}

.nav-bar-a{
    display: block;
    color: #E6E6FA;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.index-a:hover{
    color: none;
    background-color: none;
}
.nav-bar-a:hover{
    background-color:#f39c12; 
}

ul li ul {
    background-color:#2c3e50;
    display:none;
    list-style-type: circle;
    position:absolute;
    width:110px;
}

ul li:hover ul{
    display:block;
}
li ul li {
    display:block; 
}
.div-left,.div-right{
    border-radius: 10px;
    width: 15%;
    height: 100%;
    background-color: #F4D03F;
    box-shadow: -2px -1px 10px  #F4D03F, 2px 6px 10px   #F4D03F;
}
.div-mid{
    width: 70%;
    height: auto;
}
p{
     padding-left: 40px; padding-right: 20px; font-size: 20px; font-family: sans-serif;"
}
.img-ders{
    padding:30px 10px 10px 10px;
    width: 20%;
    height: 20%;
}
hr{
    margin-top: 60px;
    margin-bottom: 60px; 
    border-radius: 5px;
    width: 75%;
    height: 3px;
    border-color:#0d698e; 
    background-color: #0d698e;
    box-shadow: 0px 0px 3px #367dc3;

}
.hr-word{
    margin: 20px 20px 20px 30px;
    height: 1px;
}

 
#contact input[type="text"],
#contact input[type="email"],
#contact textarea,
#contact button[type="submit"] {
    font: 500 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}
 
#contact {
    background: #00BBCD;
    padding: 25px 35px 25px 15px;
    margin: 100px 0;
    border-radius: 80px;
    box-shadow: -2px -1px 10px , 2px 6px 10px ;
}
 
#contact h2 {
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 15px;
}
 
.form-control{
    border: none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;

}
 
#contact input[type="text"],
#contact input[type="email"],
#contact textarea {
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}
 
#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact textarea:hover {
    -webkit-transition: border-color 0.4s ease-in-out;
    -moz-transition: border-color 0.4s ease-in-out;
    transition: border-color 0.4s ease-in-out;
    border: 1px solid #aaa;
}
 
#contact textarea {
    height: 120px;
    max-width: 100%;
    resize: none;
}
 
#contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #79A7A8;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    margin-left: 8px;
    font-size: 15px;
}
 
#contact button[type="submit"]:hover {
    background: #355C7D;
    -webkit-transition: background 0.4s ease-in-out;
    -moz-transition: background 0.4s ease-in-out;
    transition: background-color 0.4s ease-in-out;
}
 
#contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}
 
#contact input:focus,
#contact textarea:focus {
    outline: 0;
    border: 1px solid #aaa;
}

.div-bottom{
    line-height: 30px;
    color: #888;
    clear: both;
    position: relative; 
    top: 70px;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}
.all-page{
    margin: 50px;
}